@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 0, 0, 0;
	--background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}
body::before {
	content: "RIPPERDOC://SOFTWARE// ?? //HARDWARE//";
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	color: rgba(255, 0, 0, 0.6);
	font-size: 3em;
	pointer-events: none;
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
	white-space: nowrap;
}
.cobalt-fingers {
	width: 450px;
	height: 10px;
}
