@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 0, 0, 0;
	--background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}
body::before {
	content: "RIPPERDOC://SOFTWARE// ?? //HARDWARE//";
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	color: rgba(255, 0, 0, 0.6);
	font-size: 3em;
	pointer-events: none;
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
	white-space: nowrap;
}
.wrapper {
	max-width: 1600px;
}
.cobalt-fingers {
	width: 450px;
	height: 10px;
}
.loginStyle {
	position: absolute;
	left: 100px;
	top: 150px;
	padding: 10px;
	width: 150px;
	height: 150px;
	margin: 50px;
	background-color: red;
}
.loginStyle:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-width: 0 15px 15px 0;
	border-color: black;
	clip-path: polygon(100% 0, 0% 100%, 0 100%, 0 0);
}
.product-style {
	position: relative;
}
.product-style:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-width: 0 30px 30px 0;
	border-color: black;
	clip-path: polygon(100% 0, 0% 100%, 0 100%, 0 0);
}

.product-style-bought {
	position: absolute;
}
.product-style-bought:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-width: 0 30px 30px 0;
	border-color: black;
	clip-path: polygon(100% 0, 0% 100%, 0 100%, 0 0);
}
.image-style {
	position: relative;
}
.image-style::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-width: 0 30px 30px 0;
	border-color: rgb(239 68 68);
	clip-path: polygon(100% 0, 0% 100%, 0 100%, 0 0);
}
